.containerinnerheade {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container {
    max-width: 1240px;
    margin: auto;
    width: 100%;
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header a {
    color: #000;
}
body {
	margin: 0px;
}
.mainmenu {
    display: flex;
    align-items: center;
}

ul {
    padding: 0px;
}

.mainmenu li:nth-child(even) {
    margin: 0px 15px;
}

ul.socidallinks {
    margin: 0px 20px;
}

a {
    text-decoration: none !important;
    font-size: 13px;
}

.bagcontainer {
    padding: 8px 15px 8px 15px;
    background-color: #EAEAEA;
    text-transform: uppercase;
    font-size: 13px;
}

.bagcontainer span {
    position: relative;
}

span.counter {
    position: absolute;
    background: red;
    border-radius: 3px;
    position: absolute;
    height: 13px;
    left: auto;
    top: 0px;
    right: 10px;
    width: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    right: 0px;
    top: -5px;
}

.bagcontainer i {}

.bagcontainer span:first-child {
    margin-right: 10px;
    font-size: 20px;
}
header {
    background: rgba(255,255,255,0.9);
    border-bottom: 1px solid #f7f7f7;
    min-height: 91px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bodycontainer {
	position: relative;
}
.bagcontaineras {
    position: fixed;
    right: 0px;
    /* background: #000; */
    z-index: 999;
    width: 100%;
}

div.closerbag {
    width: 70%;
    display: block;
    height: 100vh;
    background: transparent;
}

.closerpludheadingcontainer {
    width: 30%;
    display: block;
    background: #000;
    overflow: auto;
    height: 100%;
}

.bagcontaineras .row {
    display: flex;
    height: 100vh;
}

.closerpludheadingcontainer > a#closerbag {
    background: rgba(0,0,0,0.1);
    color: rgba(255,255,255,0.8);
    /* text-indent: 20px; */
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
    /* margin-top: -20px; */
    margin-bottom: 5px;
    /* line-height: 10px; */
    display: block;
    padding: 14px 10px 14px 20px;
    border-bottom: 1px solid #ccc;
    max-width: 80%;
    margin: auto;
    font-size: 18px;
    position: relative;
}

.closerpludheadingcontainer > a#closerbag:after {content: "";position: absolute;left: 0px;width: 10px;height: 10px;border: 1px solid #fff;transform: rotate(45deg);border-top: 0;border-right: 0;position: absolute;top: 0;bottom: 0;margin: auto;}

ul.listcontainercart {
    list-style: none;
    height: 40%;
    overflow: auto;
}

ul.listcontainercart li {
    padding: 14px 10px 14px 20px;
}

ul.listcontainercart img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding: 5px 20px 0 0;
}

ul.listcontainercart li {
    color: #fff;
    /* display: flex; */
}

.innercontainebaf {
    display: flex;
    align-items: center;
}

.contentbag h6 {
    margin: 0px;
    font-size: 14px;
    color: #fff;
    opacity: 0.6;
    font-weight: 100;
    margin-bottom: 7px;
    max-width: 80%;
    line-height: 22px;
    margin-bottom: 4px;
}

strong.price {
    font-size: 14px;
    font-weight: 100;
    color: #fff;
    opacity: 0.6;
}

.input-group.inline-group {
    display: flex;
    align-items: center;
    margin: 20px 0px 0px;
}

.input-group.inline-group button {
    background: none;
    color: #fff;
    border: none;
}

.input-group.inline-group input {
    margin: 0px 10px;
    background: none;
    border: 1px solid #ccc;
    color: #fff;
    text-align: center;
    padding: 0px;
    height: 24px;
    width: 70px;
    max-width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group.inline-group input::-webkit-textfield-decoration-container {
    text-align: center;
}

.subtotalcontainer {
    background: rgba(255,255,255,0.3);
    display: block;
    padding: 14px 30px 14px 30px;
    display: flex;
    justify-content: space-between;
    font-weight: 100;
}

.subtotalcontainer span:first-child {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff99;
}

span.money {
    color: #ffffff99;
}

.containernotes textarea {
    margin: 15px 20px 0px 20px;
    display: block;
    width: calc(100% - 40px);
    background: none;
    padding: 10px;
    max-width: 83%;
    margin: 20px auto;
    font-weight: 100;
}

.containernotes textarea::placeholder {
    color: #fff;
    opacity: 0.6;
    font-weight: 100;
    text-transform: capitalize;
}

.buttoncontaienrs {
    max-width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

a#editShoppingCart {
    width: 40%;
    /* margin-left: 20px; */
    /* margin-top: 20px; */
    background-color: #444;
    color: #ffffff;
    text-align: center;
    text-indent: 0;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
}

a#shoppingcart {
    width: 40%;
    background: #bf0711;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.buttoncontaienrs a {
    text-transform: uppercase;
    font-weight: 100;
    color: #fff;
    letter-spacing: 1px;
}