div#menuMain {
    position: fixed;
    left: -100%;
}

.hamburger {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    position: relative;
    border: none;
    max-width: 26px;
    max-height: 17px;
}

.alignCenter {
    align-items: center;
}

span.span1 {
    /* position: absolute; */
    top: 0;
    /* background: red; */
    /* width: 100%; */
    /* height: 2px; */
}

span.span2 {}

.hamburger span {
    /* background: red; */
    width: 100%;
    background: #000;
    width: 100%;
    height: 1px;
    /* height: 2px; */
    display: block;
}

span.span2 {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
}

span.span3 {bottom: 0;top: auto;}

.hamburger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.imagecontainerMainlogo {
    max-width: 422px;
    max-height: 59px;
}

img {
    max-width: 100%;
    display: block;
}

.displayFlex {
    display: flex;
}

ul, p, ol, body,a {
    padding: 0px;
    margin: 0px;
    text-decoration: none !important;
    list-style: none;
}

ul#rightheader {
    max-width: max-content;
    margin-left: auto;
    color: #000;
}

ul#rightheader li:nth-child(even) {
    margin: 0px 14px;
}

ul#rightheader a {
    color: #000;
}

header#headermain {
    min-height: 228px;
    display: flex;
    align-items: center;
}
.containermainlistcontainer ul {
    max-width: max-content;
    display: flex;
    align-items: center;
    margin: auto;
}

.containermainlistcontainer a {
    color: #222;
    font-style: italic;
    font-size: 14px;
}

.containermainlistcontainer ul {
    margin-bottom: 20px;
}

.containermainlistcontainer a:hover {
    opacity: 0.6;
}

.containermainlistcontainer li:nth-child(even) {
    margin: 0px 20px;
}
.maincontainer {
    max-width: 1140px;
    margin: auto;
}
.imagecontainerproyuct {
    position: relative;
    height: 100%;
    display: block;
    overflow: hidden;
    max-height: 437px;
}

.contentcontainermain {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}

.innercontainerproduct {
    margin-bottom: 50px;
    min-height: 437px;
    overflow: hidden;
}

.innercontainerproduct img {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
}

.innercontainerproduct:hover .contentcontainermain {
    opacity: 1;
    visibility: visible;
    transition: 0.7s all;
}

.contentcontainermain {
    transition: 0.7s all;
}

footer {
    width: 100%;
    box-sizing: border-box;
    border-top: solid 1px #f0f0f0;
    padding-top: 95px;
    margin-top: 100px;
    text-align: center;
}

footer form {
    max-width: 450px;
    display: flex;
    margin: 40px auto;
}

footer input {
    width: 100%;
    margin-right: 20px;
    height: 55px;
    width: 100%;
    padding: 1em;
    background: #fff;
    border: 1px solid rgba(0,0,0,.12);
    font-family: inherit;
    font-size: 15px;
    line-height: normal;
    outline: none;
}

footer button {
    border-width: 1px;
    -webkit-box-shadow: inset 0px 0px 0px 1px #272727;
    -moz-box-shadow: inset 0px 0px 0px 1px #272727;
    box-shadow: inset 0px 0px 0px 1px #272727;
    background: transparent;
    color: #272727;
    -webkit-transition: 0.1s background-color linear, 0.1s color linear;
    -moz-transition: 0.1s background-color linear, 0.1s color linear;
    -o-transition: 0.1s background-color linear, 0.1s color linear;
    transition: 0.1s background-color linear, 0.1s color linear;
    /* display: inline-block; */
    /* width: auto; */
    /* height: auto; */
    /* padding: 1em 2.5em; */
    /* border-width: 0; */
    text-align: center;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 200px;
    height: 55px;
    text-transform: uppercase;
}

.containerformnewsletter input::placeholder {
    color: #272727;
    opacity: 0.4;
}

.containerformnewsletter p {
    margin: 47px 0 0px;
    padding: 0;
    font-size: 13px;
    line-height: 1.6em;
    color: #272727;
    color: rgba(33,33,33,.45);
}

.menufooter ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menufooter li:nth-child(even) {
    margin: 0px 20px;
}

.menufooter a {
    display: block;
    border-bottom: 1px solid rgba(33,33,33,.45);
    color: rgba(33,33,33,.45);
    text-transform: capitalize;
    font-size: 13px;
}
footer {
    padding-bottom: 90px;
}

.powerby a {
    color: #000;
    font-weight: 700;
}

.powerby {
    font-size: 13px;
    color: rgba(33,33,33,.45);
}
button#addtoCartCOntaienr {
    display: inline-block;
    position: relative;
    z-index: 6;
    width: auto;
    height: auto;
    padding: 1.5em;
    color: #fff;
    background-color: #1d1d1d;
    border-width: 0;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -ms-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 123px;
    max-height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    width: 100%;
    font-family: ltc-bodoni-175;
}

.containermaininner .price {
    font-size: 13px;
    color: #bababa;
}

.containermaininner h6 {
    font-size: 22px;
    color: #222;
    font-family: ltc-bodoni-175;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    letter-spacing: .01em;
    line-height: 1.2em;
    text-transform: none;
}

p.onlyavaible {
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0px;
    line-height: 1.4em;
    text-transform: none;
    margin: .5em 0 0 0;
    color: #1d1d1d;
    text-transform: capitalize;
}
.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    height: 100%;
    display: flex;
    align-content: center;
}
div.closer {
    background: rgb(240 240 240 / 0.7);
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9;
    position: absolute;
}
div#contentModalContainer {
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 900px;
    background: #fff;
    top: 0;
    bottom: 0;
    margin: auto;
    max-height: 551px;
    height: 100%;
    z-index: 9999;
}
form.containerQuantityForm button {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 1em 2.5em;
    color: #fff;
    background-color: #272727;
    border-width: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1em;
    font-weight: normal;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color: #1d1d1d;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: none;
    font-family: ltc-bodoni-175;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    letter-spacing: .05em;
    text-transform: uppercase;
    line-height: normal;
    opacity: 1;
    padding: 25px 46px;
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    -webkit-transition: 0.1s background-color linear, 0.1s color linear;
    -moz-transition: 0.1s background-color linear, 0.1s color linear;
    -ms-transition: 0.1s background-color linear, 0.1s color linear;
    transition: 0.1s background-color linear, 0.1s color linear;
    color: #1d1d1d;
}

form.containerQuantityForm button:hover {
    background-color: #1d1d1d;
    color: #fff;
}

.contentContainermOdal {
    padding: 30px 45px 30px 30px;
}

p.shortDescription {
    display: none;
    margin-bottom: 25px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.6em;
    font-family: ltc-bodoni-175;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 1.8em;
    text-transform: none;
    color: #222;
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
    max-width: 272px;
}

form.containerQuantityForm label {
    margin-bottom: .5em;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: ltc-bodoni-175;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .025em;
    text-transform: none;
    line-height: 1em;
    color: #222;
    display: block;
}

form.containerQuantityForm input {
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0px;
    font-family: europa;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1em;
    color: #333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: .75em 1.25em;
    background-color: rgba(237,237,237,.55);
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    border: 2px solid rgba(33,33,33,0);
    display: flex;
    max-width: 83px;
    color: #000;
    margin-bottom: 25px;
}

.innercontainermodal .row {
    align-items: center;
}

.contentContainermOdal h3 {
    display: block;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    margin: 0 0 25px 0;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    line-height: 1.2em;
    font-family: ltc-bodoni-175;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 1.3em;
    text-transform: none;
    color: #1d1d1d;
}

.contentContainermOdal .price {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
    margin-bottom: 25px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0px;
    font-family: europa;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .1em;
    text-transform: none;
    line-height: 1em;
    color: rgba(33,33,33,.45);
}

div#contentModalContainer {
    padding: 15px;
}

.FullScreenView {
    opacity: .6;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.6em;
    font-family: ltc-bodoni-175;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 1.8em;
    text-transform: none;
    color: #222;
    -webkit-box-ordinal-group: 100;
    -moz-box-ordinal-group: 100;
    -ms-flex-order: 100;
    -webkit-order: 100;
    order: 100;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    -webkit-transition: color 100ms ease-in-out, border-color 100ms ease-in-out;
    -moz-transition: color 100ms ease-in-out, border-color 100ms ease-in-out;
    -ms-transition: color 100ms ease-in-out, border-color 100ms ease-in-out;
    -o-transition: color 100ms ease-in-out, border-color 100ms ease-in-out;
    transition: color 100ms ease-in-out, border-color 100ms ease-in-out;
    text-decoration: underline !important;
    margin-top: 7px;
}
.crosCloser {
    border: none;
    padding: 0;
    background-color: transparent;
    position: fixed;
    width: 25px;
    height: 25px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 12.5px;
    right: 12.5px;
    width: 25px;
    z-index: 100000001;
}
.crosCloser::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #000;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
    transform: rotate(45deg);
}

.crosCloser {

    cursor: pointer;
}
.crosCloser::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #000;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
    transform: rotate(135deg);
}
.containerLeftPost {
    position: absolute;
    cursor: pointer;
    left: 20px;
    top: 0;
    bottom: 0;
    border: 3px solid #000;
    height: 17px;
    width: 17px;
    z-index: 999;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
    border-top: 0;
    border-right: 0;
}

.containerRightPost {
    position: absolute;
    cursor: pointer;
    left: 20px;
    top: 0;
    bottom: 0;
    border: 3px solid #000;
    height: 17px;
    width: 17px;
    z-index: 999;
    bottom: 0;
    margin: auto;
    transform: rotate(-135deg);
    border-top: 0;
    border-right: 0;
    left: auto;
    right: 25px;
}












@media only screen and (min-width: 1650px)  {
    .container,.maincontainer {
        max-width: 1600px;
    }
}
