div#menuMain {
    position: fixed;
    left: -100%;
}

.hamburger {
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    position: relative;
    border: none;
    max-width: 26px;
    max-height: 17px;
}

.alignCenter {
    align-items: center;
}

span.span1 {
    /* position: absolute; */
    top: 0;
    /* background: red; */
    /* width: 100%; */
    /* height: 2px; */
}

span.span2 {}

.hamburger span {
    /* background: red; */
    width: 100%;
    background: #000;
    width: 100%;
    height: 1px;
    /* height: 2px; */
    display: block;
}

span.span2 {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
}

span.span3 {bottom: 0;top: auto;}

.hamburger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.imagecontainerMainlogo {
    max-width: 422px;
    max-height: 59px;
}

img {
    max-width: 100%;
    display: block;
}

.displayFlex {
    display: flex;
}

ul, p, ol, body,a {
    padding: 0px;
    margin: 0px;
    text-decoration: none !important;
    list-style: none;
}

ul#rightheader {
    max-width: max-content;
    margin-left: auto;
    color: #000;
}

ul#rightheader li:nth-child(even) {
    margin: 0px 14px;
}

ul#rightheader a {
    color: #000;
}

header#headermain {
    min-height: 228px;
    display: flex;
    align-items: center;
}
.containermainlistcontainer ul {
    max-width: max-content;
    display: flex;
    align-items: center;
    margin: auto;
}

.containermainlistcontainer a {
    color: #222;
    font-style: italic;
    font-size: 14px;
}

.containermainlistcontainer ul {
    margin-bottom: 20px;
}

.containermainlistcontainer a:hover {
    opacity: 0.6;
}

.containermainlistcontainer li:nth-child(even) {
    margin: 0px 20px;
}
.maincontainer {
    max-width: 1140px;
    margin: auto;
}
.imagecontainerproyuct {
    position: relative;
    height: 100%;
    display: block;
    overflow: hidden;
    max-height: 437px;
}

.contentcontainermain {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}

.innercontainerproduct {
    margin-bottom: 50px;
    min-height: 437px;
    overflow: hidden;
}

.innercontainerproduct img {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
}

.innercontainerproduct:hover .contentcontainermain {
    opacity: 1;
    visibility: visible;
    transition: 0.7s all;
}

.contentcontainermain {
    transition: 0.7s all;
}



















@media only screen and (min-width: 1650px)  {
    .container,.maincontainer {
        max-width: 1600px;
    }
}
